<%- include('partials/header'); -%>


    <div style="margin-top: 100px;" id="content"></div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#" onclick="previousPage()">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#" onclick="loadPage(1)">1</a></li>
          <li class="page-item"><a class="page-link" href="#" onclick="loadPage(2)">2</a></li>
          <li class="page-item"><a class="page-link" href="#" onclick="loadPage(3)">3</a></li>
          <li class="page-item"><a class="page-link" href="#" onclick="nextPage()">Next</a></li>
        </ul>
      </nav>
      <a href="#" class="btn btn-primary" onclick="edit()">Edit</a>
      <a href="/logout" class="btn btn-primary"">Logout</a>

    <script src="jquery-3.6.0.min.js"></script>
    <script src="main.js"></script>
<%- include('partials/footer'); -%>