<%- include('partials/header'); -%>


    <div style="margin-top: 100px;" id="content"></div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#" onclick="previousPage()">Previous</a></li>
          <% for(var i=1; i <= total; i++){ %>
            <li class="page-item"><a class="page-link" href="#" onclick="loadPage(<%= i %>)"><%= i %></a></li>
          <% } %>
          <li class="page-item"><a class="page-link" href="#" onclick="nextPage()">Next</a></li>
        </ul>
      </nav>

    <script src="http://localhost:3000/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:3000/main.js"></script>
    

<%- include('partials/footer'); -%>